@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font-size: 14px;
							font-family: 'Open Sans', sans-serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 5px;}
header, nav, section		{background: #eee; text-align: center;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}

.formularioa{
	padding:20px;
	background-color:#d5d5d5;
	display:inline-block;
	border-radius:5px;
	text-align:left;
}

.galderakcontainer{
	padding:20px;
	background-color:#d5d5d5;
	width:auto;
	border-radius:5px;
	display:inline-block;
	text-align:left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ecebeb;
}

tr:nth-child(odd) {
  background-color: #F9F9F9;
}

.alert-error{
	background-color: #f88a8a;
    padding: 5px;
    text-align: center;
    width: 335px;
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.alert-success{
	background-color: #91c88d;
    padding: 5px;
    text-align: center;
    width: 335px;
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}